
body{
	font-family: Merriweather;
	font-weight: 500;
	font-size: 12px;
}

img{
	width:100%;
	height: 100%;
}

.row {
	padding:1%;
}

#prompt{
	height:12%;
}

#workbook{
	height:70%;
}

#staples{
	height:18%;
	background-color:red;
}