h2	{
	font-family: Helvetica, sans-serif;
	size: 2 em;
	color: gray;
}

p	{
	font-family: Georgia, serif;
	color: black;
}

a	{
	text-decoration:none;
	color: #9D344B;
	font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
/*this doesn't seem to work :( */
img	{
	vertical-align: middle;
}