/*FONT FAMILY HELPERS :)*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

.wrapper{
	margin: 0 5%;
}


header{
	background-color: black;
	border-bottom: yellow 3px solid;
	margin: 0px;
	overflow: auto;
	padding:10px;
}

body{
	font-family: Source Sans Pro, sans-serif;
	line-height:1em;
}

section {
	background-image: url("../img/coworking.jpg");
	background-size: cover;
	height:400px;
	background-position: 0 -100px;
}

#options{
	background-color:#EEEEE;
	clear:both;
	overflow:hidden;
	padding:2% 0;
}

footer{
	clear:both;
	background-color: black;
	height:5%;
	color:white;
	padding-top:1%;
	font-family: Source Sans Pro, sans-serif;
}

nav{
	float: right;
	margin:0px;
	padding-right: 10px;
	padding-top: 5px;
}

nav a {
	display: inline-block;
	height: 10px;
	padding:10px;
}

button{
	font-family: Oswald, sans-serif;
	font-size:1em;
	width:100%;
	height:50px;
	background-color: #C6C6C6;
	display: inline-block
	padding:4%;
	margin:0 auto;
	align:center;
	border-radius:5px;
	text-transform: uppercase;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}


.tagline{
	font-family: Merriweather, serif;
	font-style: italic;
	font-size:20px;
	background-color: #C6C6C6;
	margin:0px;
	padding: 1em 10px;
	text-align: center;
}

.tagline del {
	color: #999;
}

.emphasize {
	text-decoration: none;
	border-bottom: 3px yellow solid;
}

a{
	font-family: 'Oswald';
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

h1{
	color: yellow;
	font-family: Merriweather, serif;
	padding: 10px;
	margin:0px;
	font-size:30px;
	float:left;
}

h2{
	font-family: Merriweather, serif;
	font-size: 25px;
	padding: 10px;
}

p{
	padding:10px;
	line-height:1.5em;
}

.meat{
	float:left;
	width:25%;
	font-family: Source Sans Pro, sans-serif;
	line-height: 2em;
	padding: 3% 3%;
/*	margin-left: 2%;
	margin-right:0%;*/
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}

.meat:lastchild{
	box-shadow: none;
}

.callout{
	background-color: #C6C6C6;
	border-radius: 5px;
}

#float{
	background-color: rgba(255,255,255,0.5);
	float: right;
	width: 25%;
	padding:4%;
	margin:4%;
}

#specialcall{
	background-color: yellow;
}