/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
/*  color: #000;*/
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  margin: 0 auto;;
}

p{
  color:#606161;
  font-weight:300;
}
.post-title p:first-letter { 
    font-size: 250%;
/*    padding-top:4px;
*/}


/*.post p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
} 
*/
ul{
  list-style: none;
}

.navlink{
  font-weight:600;
  font-size:24px;
  color:#FFEA73;
  padding: 5px 10px;
}

button {
  background-color: #033048;
  color: white;
  padding:25px 15px;
  border-radius:10px;
  width:30%;
  box-shadow:none;
}

img{
  padding:10px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 1200px;
  margin: 0 auto;
}

header {
  width:100%;
  padding:35px 30px;
  overflow:hidden;
  background-color: #033048;
}

h1{
  float: left;
  font-weight:800;
  font-size:40px;
  color:white;
  padding-left:20px;
}

main{
  width:700px;
  float:left;
  margin: 0 auto;
  padding-left:55px;
  padding-bottom:50px;
  padding-top:30px;
  color:#043049;
}

aside{
  width:240px;
  float:right;
  color:#043049;
}

footer {
  margin: 0 auto;
  text-align: center;
  clear: both;
}

nav {
  float: right;
  padding:10px 20px;
}

article{
  padding:20px 0px;
}

article p p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.post-title {
  font-weight:600;
  font-size:40px;
  color:#033048;
}

.sidebar-title {
  font-weight: 800;
  font-size:32px;
  padding-top:30px;
  padding-bottom:40px;
  color:#043049;
}

#signup {
  background-color: #FFEA73;
  padding: 30px;
}

#bottom {
  background-color: #121212;
  padding-top:30px;
  padding-bottom:20px;
}

button p {
  color:white;
  font-size:24px;
  font-weight:600;
}

h2 {
  color: #FFEA73;
  font-size:35px;
  font-weight:800;
}

div#bottom p{
  color:white;
}

.readmore{
  font-size:24px;
  text-align: right;
  padding:10px;
}

.readmore a{
  text-decoration: none;
  color:#043049;
  font-weight:600;
}